h1,h2,h3,h4,h5,h6,body{
    color: #ffffff;
}
body{
    background-color: #100320;
}
.navbar{
    background-color: #100320;
    align-content: center;
    text-align: center;
}
.main1{
    text-align: center;
    align-content: center;
    background-color: #100320;
}

.contentsub{
    margin-top: 30px;
}
.imgcontentsub{
    margin-top: -20px;
}


.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
    background-color: #100320;
}

.nav-tabs , .nav-item{
    text-align:center;
    background-color: #100320;
}

.nav-tabs , .nav-item :hover {
    text-align:center;
    background-color: #100320;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    text-align:center;
    background-color: #100320;
}

.midcontent{
    text-align: center;
    align-content: center;
}
.rewardhead{
    margin-top: 50px;
    font-size: 20px;
}
.rewardmain{
    font-size: 16px;
}
.rewarddes{
    font-size: 25px;
}
.footerbanner{
    width: 100%;
}
.navfooters{
    width: 30px;
}
.navfooters-mid{
    width: 60px;
    margin-top: -30px;
}

.footerlink{
    font-size: 12px;
}

@media only screen and (max-width: 600px) {

    .main1{
        text-align: center;
        align-content: center; align-items: center;
        background-color: #100320;
        font-size: small;
    }
    .navbar-toggler{
        display: none;
        display: block;
    }

    .navbar-expand{
        font-size: small;
        align-content: center;
    text-align: center;
    }

    .navbar,.fixed-bottom,.navbar-expand ,.navbar-dark ,.bg-dark{
        align-content: center;
        text-align: center;
        align-items: center;

    }

    .rowz{
        z-index: 99;
    }

    .midcontent{
        text-align: center;
        align-content: center;
    }

    .rewardhead{
        font-size: 25px;
    }
    .rewardmain{
        font-size: 16px;
    }
    .rewarddes{
        font-size: 25px;
    }
    .footerbanner{
        width: 100%;
    }
    .navfooters-mid{
        width: 60px;
        margin-top: -30px;
        font-size: 12px;
    }
    .footerlink{
        font-size: 12px;
    }

}